body{
  background: #FFCCFF;
  font-family: 'Noto Sans JP', sans-serif;
}

.container {
  display: flex;
  justify-content: flex-start;
}

h1 {
  font-size: 100px;
  text-align:center;
}

.btn {
  width: 10vw;
  height: 10vw;
  background: #FFFFFF;
  /* border-radius: 50%; */
  margin: 10px;
  padding: 10px;
  text-align: center;
  line-height: 10vw;
  color: #000000;
  font-weight: bold;
  font-size: 8vw;
  cursor: pointer;
  user-select: none;
  display: inline-block;
}

#btn3 {
  margin-top: 160px;
}

#btn4 {
  margin-top: 160px;
}

#btn5 {
  margin-top: 160px;
}

#btn6 {
  margin-top: 160px;
}

.image_size_o {
  width: 20vw;
  height: 20vw;
  margin-left: 100px;
}

.image_size_m {
  width: 20vw;
  height: 20vw;
  margin-top: 150px;
  margin-left: 100px;
}

.image_size_z {
  width: 20vw;
  height: 20vw;
  margin-top: 150px;
  margin-left: 100px;
}

#btn:hover {
  opacity: 0.9;
}

#btn:active{
  box-shadow: 0 5px 0 #d1483e;
  margin-top: 35px;
}

#hanamaru {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#background {
  position: fixed;
    top: 0;
    left: 0;
    opacity: 0.6;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

#fish {
  display: none;
}

#maru {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#maru2 {
  top: 90%;
  left: 30%;
  display: none;
}